
<% provide(:title, "Главная страница") %>
<% currently_at "Главная страница" %>


  <div class=" h-full text-center text-2xl font-stal justify-content-center">
    <div class="">Большевик  </div>



  </div>

