
<% provide(:title, "Просмотр участка") %>
<% currently_at "Просмотр участка" %>

<div class="flex flex-col w-full px-2">
  <%=render "shared/hedder_kab" %>
  <div class="flex font-stal block justify-center py-2.5 text-rose-600 ">
    <h1> <%= t(:show_area) %> : <%= @area.area %> </h1></div>
  <%= render partial: "form",locals: {disabled: true}  %>
</div>





















